
<ion-header class="scanner-hide">
  <ion-toolbar  color="primary">
    <ion-title>OrderId {{orderId}}</ion-title>

  <ion-button color="light" slot="end" fill="clear" (click)="dismiss()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="!isLoading" class="scanner-hide">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label>Products</ion-label>
          </ion-list-header>
          <ion-item  *ngFor="let item of products">
            <ion-avatar slot="start">
              <img [src]="item.imageUrl" />
            </ion-avatar>
            <ion-label> {{item.title | uppercase}} x {{item.amount}} = {{item.discountedPrice| currency:"INR"}} </ion-label>
          </ion-item>
        
          <ion-text class="ion-text-right" color="tertiary">
            <p>Total:- {{orderTotal | currency:"INR"}} </p>
          </ion-text>
        </ion-list>
  
        <ion-list>
          <ion-list-header>
            <ion-label>Shipping Details</ion-label>
          </ion-list-header>
          <ion-label slot="start">
            <p><strong>Full Name:</strong><span> {{username | uppercase}} </span></p>
            <p><strong>Email:</strong><span> {{email}} </span></p>
            <p><strong>Address:</strong><span> {{userAddress |uppercase}}, {{add2 | uppercase}}, {{add3 |uppercase}}, {{city | uppercase}}, {{pincode}}. </span></p>
          </ion-label>
        
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <div class="scanner-ui">
    <div class="container">
      <div class="barcode-scanner--area--container">
        <div class="relative">
          <p>Aim your camera at a barcode</p>
        </div>
        <div class="square surround-cover">
          <div class="barcode-scanner--area--outer surround-cover">
            <div class="barcode-scanner--area--inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </ion-content>
  
 

<ion-footer>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
     
      <ion-button (click)="startScan()">
        <ion-icon slot="start" name="barcode"></ion-icon>
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>