<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="Login_Forms">
<div class="Login_images">
  <img src="assets/logo.png"> 
  
</div>
  <div class="Login">
    <ion-title class="ion-text-center" color="warning"><h2>Login</h2></ion-title>
  </div>

  <div class=" Login_Form">
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" novalidate>
   <ion-list class="">
  
    <ion-input placeholder="User Name"formControlName="name" class="Input_mail " color="primary"></ion-input>

<small *ngIf="LoginForm.get('name').invalid && (LoginForm.get('name').dirty ||LoginForm.get('name').touched )">
  <small *ngIf="(LoginForm.get('name')).errors?.required">Name is required</small>
  question mark(?) is a safe navigation operator
  <small *ngIf="(LoginForm.get('name')).errors?.minlength">Please enter more than 4 character</small>
</small>
  </ion-list>
<ion-list  class="">
    <ion-input type="text" formControlName="password"class="Input_mail " placeholder="Password" >
    </ion-input>
 
  <small *ngIf="LoginForm.get('password').invalid && (LoginForm.get('password').dirty ||LoginForm.get('password').touched )">
    <small *ngIf="(LoginForm.get('password')).errors?.required">password is required</small>
    question mark(?) is a safe navigation operator
    <small *ngIf="(LoginForm.get('password')).errors?.minlength">Please enter more than 4 character</small>
  </small>
  <div class="forgot">
    <p>Forgot Password</p>
  </div>

</ion-list>
   
      
        
       
     
    </form>
    </div>
    <ion-text color="dark" >
      <div class="Login_text ion-margin-top" >
      <h5>Don’t Have any Account ?
       </h5>

     <h6 (click)="Signup()" class="btnne">  Signup </h6>
     </div>
    </ion-text>
</div>

</ion-content>

<ion-footer >
  <ion-toolbar color="primary" style="padding: 10px;">
   <ion-title class="ion-text-center" (click)="getlogin()">
  Login
   </ion-title>
  </ion-toolbar>
</ion-footer>
