<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <ion-item class="ion-margin-top animate__animated animate__fadeInUp animate__delay-2s" *ngFor="let item of orders" (click)="orderDetails(item)">
      <!-- <ion-avatar slot="start">
        <img src="../../assets/images/panner 1 (1).png">
      </ion-avatar> -->
      <ion-label><h5>Order ID - {{item._id}}</h5>
        <p>Date:  {{item.createdAt | date:"shortDate"}} </p>
        <p> {{item.status || "Order Placed"}} </p></ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
